@tailwind base;
@tailwind components;
@tailwind utilities;

.blue-glassmorphism {
    background: rgb(39, 51, 89, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.paddings {
    @apply p-6
}


.form {
    @apply flex flex-col space-y-2
}

.button {
    @apply flex items-center justify-center space-x-2 bg-blue-600 text-white text-lg w-[100%] rounded-md py-2 shadow-lg transition duration-200 hover:bg-blue-700 active:shadow-none
}